body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: white;
}
   .brd {
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
   }

form{
	margin-top: 40px;
	background:url(http://bootstraptema.ru/images/bg/bg-1.png)!important;	
}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
